@use "../../../styles/colors.scss";

.group-tile {
    background-color: colors.$detail-main-color;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
        color: colors.$white;
        margin: 0;
    }
    .group-arrow {
        color: colors.$white;
    }
    p {
        color: colors.$white;
        font-size: 10px;
        margin: 0;
        letter-spacing: 0.7px;
    }
}
.no-groups {
    color: colors.$white !important;
    font-size: 25px;
    letter-spacing: 0.7px;
}
