@use "../../../styles/colors.scss";

.code-msg {
    display: inline-block !important;
    background-color: colors.$bg-err !important;
    color: colors.$detail-err !important;
    font-weight: 500 !important;
    padding: 10px 0px !important;
    border-radius: 10px !important;
    text-align: center !important;
    margin: 0;
    font-size: 20px !important;
}
.tile {
    width: 100%;
}
thead th {
    background-color: colors.$detail-main-color;
    color: colors.$white;
    padding: 10px 0px;
}
thead th:first-child {
    border-radius: 15px 0px 0px 0px;
}
thead th:last-child {
    border-radius: 0px 15px 0px 0px;
}
tbody {
    color: colors.$white;
    font-weight: 300;
}
table td {
    padding: 10px 0px;
}
