$detail-main-color: #772ce8;
$detail-main-light: #8e4af3;
$detail-main-dark: #6717df;
$white: #f9f9f9;
$detail-light: #e7eaed;
$detail-gray: #91949d;
$bg-dark: #151419;
$bg-menu: #1c1c1e;
$bg-err: #ef5350;
$detail-err: #ffe1e1;

$bg-success: #50ef65;
$detail-success: #000000;

$menu-bg: #302e3a;
$menu-detail: #262835;
$menu-font: #dfdfdf;

$app-font: #f9f9f9;
$app-bg: #151419;
$app-tile: #1f1e25;
